

.tasksbody {
    margin: 0 auto;
    background-color: #f7f5f5;
    font-family: Arial, sans-serif;

     /* background: #020024; 
     background: linear-gradient(323deg, rgba(2, 0, 36, 1) 0%, rgba(4, 2, 59, 1) 0%, rgba(9, 9, 121, 1) 37%, rgba(0, 212, 255, 1) 100%);
 */}

.mainbox{
     max-width: 600px;
     min-width: 300px;

    margin: 50px auto;
    padding: 25px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 12px 35px rgba(0,0,0,0.30);
    justify-content: center;
    display: flex;
    flex-direction: column;
    /* align-items: center; */

}
a {
  padding: 10px;
    border-radius: 15px;
    color: white;
    text-decoration: none;
    border-radius: 15px;
}
.mainbox>h1 {
    text-align: center;
    /* margin-bottom: 15px;
    margin-left: 220px; */
    margin: auto;
    margin-bottom: 10px;
    border: none;
    justify-content: center;
    background: linear-gradient(135deg,#025c6c, #0a0a0a);
  min-width: none;
  padding: 5px 10px 10px 5px;
  
  max-width: 40%;
    border-radius: 25px;
    font-weight: bold;
    font-size: 20px;
   min-height: 30px;
   max-height: 60px;
    text-align: center;
    padding-top: 10px;
    text-shadow: 1px 1px white;

    color: aliceblue;
}

.box{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task1, .task2{ 
     padding: 12px; 
     border-radius: 25px; 
     color: white;
     min-width: 300px;
     max-width: 100%;
     min-height: 50px;
     max-height: 90px;
}

.task1{
    background: linear-gradient(135deg,#025c6c, #0a0a0a,#025c6c);
}

.task2{
    background: linear-gradient(135deg,#025c6c, #030303,#025c6c);
}

h3{
    margin-top: 0;
    font-size: 20px;
}